@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  color: #515151;
  line-height: 200%;
}


.title_box {  
  color: #ffca14;

  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-color: #1449FF;
  border : 3px solid;
  padding: 0.5rem;
  border-color: #ffca14;
  margin-bottom: 0;
  position: relative;
  border-radius: 10px;
}

.text_box {
  box-sizing: border-box;
  vertical-align: middle;
  padding: 0.5rem;
  margin-bottom: 0;
  position: relative;
}

.large_btn {
  background-color: #1449FF;
  color: #FFFFFF;
  height: 3.5rem;
  padding: 0.5rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 0;
  box-shadow: 4px 4px 10px 2px #B3B3B3;
  transition: 0.3s;
  border-radius: 10px;
  /* width: 70%;
  margin: auto;
  display: block; */
}

.small_btn {
  background-color: #1449FF;
  color: #FFFFFF;
  height: 3rem;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  border: 0;
  box-shadow: 4px 4px 10px 2px #B3B3B3;
  transition: 0.3s;
  border-radius: 10px
}

.large_btn:hover {
  background-color: #ffca14;
  color: #1449FF;
  cursor: pointer;
}

.small_btn:hover {
  background-color: #ffca14;
  color: #1449FF;
  cursor: pointer;
}

.body {
  background-color: black;
}

.url {
  text-decoration-line: none;
}

#wrap {
  max-width: 600px;
  height: 200vh;
  margin: auto;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
}

#main {
  text-align: center;
}

#number {
  text-align: end;
}

#test {
  text-align: center;
  display: none;
}

#result {
  text-align: center;
  display: none;
}

#result_content_wrap {
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5%;
  box-shadow: 4px 4px 10px 2px #B3B3B3;
}


#result_img {
  width: 80%;
}

#mymbti {
  text-align: center;
  color: #1449FF;
  font-weight: bold;
}

#job_name {
  text-align: center;
  color: black;
  font-weight: bold;
}

#job_explain {
  text-align: left;
  line-height: 200%;
}

#skill_title {
  text-align: center;
  color: black;
  font-weight: bold;
}

#skill_list {
  list-style: decimal;
  padding-left: 5%;
  text-align: left;
}