@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  font-family: 'Do Hyeon', sans-serif;
}

.title_font {
  color: #1449FF;
  font-weight: bold;
  font-size: 45px;
}

.article_font {
  color: #454545;
  font-size: 20px;
}

.large_btn {
  background-color: #1449FF;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 30px;
  border: 0;
  box-shadow: 2px 2px 8px 2px grey;
  transition: 0.3s;
}

.small_btn {
  background-color: #1449FF;
  color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  border: 0;
  box-shadow: 2px 2px 8px 2px grey;
  transition: 0.3s;
}

.large_btn:hover{
  background-color: #ffca14;
  color: #1449FF;
  cursor: pointer;
}

.small_btn:hover{
  background-color: #ffca14;
  color: #1449FF;
  cursor: pointer;
}

#wrap {
  max-width: 500px;
  margin: 30px auto;
}

#main {
  text-align: center;
}

#number {
  text-align: end;
}

#test {
  text-align: center;
  display: none;
}

#result_img {
  margin: 30px 30px 20px 30px;
  width: 80%;
  box-shadow: 2px 2px 8px 2px grey;
}

#result {
  text-align: center;
  display: none;
}

#explain {
  border: 0.3em solid;
  padding: 1em 1em 1em 1em;
  border-color: #ffca14;
  text-align: left;
}

#mymbti {
  font-size: 40px;
  color: #ffca14;
  box-sizing: border-box;
  background-color: #1449FF;
  border : 6px solid;
  border-color: #ffca14;

}
