@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  font-family: 'Do Hyeon', sans-serif;
}

.title_font {
  color: #1449FF;
  font-weight: bold;
  font-size: 40px;
}

.article_font {
  color: #454545;
  font-size: 20px;
}

#start_btn {
  background-color: #1449FF;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  border: 0;
  outline: 0;
  box-shadow: 2px 2px 8px 2px grey;
}

#A {
  background-color: #1449FF;
  color: #FFFFFF;
  font-size: 20px;
  border: 0;
  outline: 0;
  box-shadow: 2px 2px 8px 2px grey;
}

#B {
  background-color: #1449FF;
  color: #FFFFFF;
  font-size: 20px;
  border: 0;
  outline: 0;
  box-shadow: 2px 2px 8px 2px grey;
}

#wrap {
  max-width: 500px;
  margin: 30px auto;
}

#main {
  text-align: center;
}

#number {
  text-align: end;
}

#test {
  text-align: center;
  display: none;
}

#result_img {
  margin: auto 0;
  width: 50%;
}

#result {
  text-align: center;
  display: none;
}
